h1 {
    text-align: center;
}


button {
    background-color: #1f1524;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(8, 43, 90, 0.5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: Baskerville, Times, 'Times New Roman', serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin: auto;
    margin-bottom: 20px;
    min-height: 56px;
    min-width: 120px; 
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

button:hover {
    background-color: #3a364b;
    transform: translateY(-2px);
}

table {
    table-layout: fixed;
    column-width: 50%;
    width: 50%;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    border-width: 3px;
border-color: black;
    background-color: #555050;
    box-shadow: 20px;
}
tr {
    border-color: black;
   
}
td {
   border-width: 3px;  
}
.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}



 .hidden {
    display: none;
 }


.marked {
    background-color: blue;
}